td {
	padding: 20px;
}

h3{
	color:white;
	background-color:red;
	padding:20px;
}

label, input {
	margin:15px;
}

/* CSS for Assigment 5 */
#tble {
	margin: 15px;
	padding: 20px;
	border: 2px solid black;
}

.row-5{
	padding: 20px;
	border: 1px solid black;
}

.col-5 {
	padding: 20px;
	border: 1px solid black;
}